ion-card {
    min-width: 95%;
}



.ion-color-fedexorange {
	--ion-color-base: var(--ion-color-fedexorange);
	--ion-color-base-rgb: var(--ion-color-fedexorange-rgb);
	--ion-color-contrast: var(--ion-color-fedexorange-contrast);
	--ion-color-contrast-rgb: var(--ion-color-fedexorange-contrast-rgb);
	--ion-color-shade: var(--ion-color-fedexorange-shade);
	--ion-color-tint: var(--ion-color-fedexorange-tint);
}