<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button> <fa-icon [icon]="['fas', 'sliders']" size="lg"></fa-icon> </ion-button>
    </ion-buttons> -->

    <ion-title style="text-align: center" >L1 - Capabilty Map</ion-title>

  </ion-toolbar>
  
</ion-header>


<ion-content [fullscreen]="true">
  <ion-searchbar   color="light" placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="filterData()"></ion-searchbar>
    

  <div>

    <ion-grid > 
      
      <ion-row >

        <ion-col size="4" *ngFor="let item of filteredData">
          <ion-card  class="ion-text-center" color="secondary" (click)="navigateToPage(item)">
            <ion-card-header>
              <!-- <fa-icon [icon]="['fas', 'scale-balanced']" size="2x"></fa-icon> -->
              <ion-card-title>{{ item.Name }}</ion-card-title>
            </ion-card-header>
          </ion-card>

          <ion-grid>
            <ion-row *ngFor="let child of item?.Children">
              <ion-card  class="ion-text-center" style="width: 100% !important;"
                 (click)="navigateToPage2(child,item.Name)"  color="warning">
                <ion-card-header>
                  <ion-card-title>{{ child.Name }}</ion-card-title>

                </ion-card-header>
              
                <!-- <ion-card-content> {{ child.Description }} </ion-card-content> -->
              </ion-card>

        

            </ion-row>
          </ion-grid>
        </ion-col>

       
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
