<ion-header>

    <!-- <ion-toolbar color="{{ type === 'Tier' ? 'secondary' : 'warning'}}"> -->
      <ion-toolbar color="warning">
  
    <ion-title>L3 - Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header color="medium">
      <ion-card-title>{{value.name}}</ion-card-title>
      <ion-card-subtitle>Type: {{value.type}}</ion-card-subtitle>
    </ion-card-header>
  <ion-row>&nbsp;</ion-row>
    <ion-card-content>
      <strong>Description:</strong>
      {{value.description}}

      <ion-row>&nbsp;</ion-row>
<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>

  </tr>
  <!-- <tr>
    <td>Internal Id:</td>
    <td>{{value.internalId}}</td>

  </tr> -->
  <tr>
    <td>CreatedBy</td>
    <td>{{value.createdBy}}</td>

  </tr>
  <!-- <tr>
    <td>CreatedTimestamp</td>
    <td>{{value.createdTimestamp}}</td>

  </tr> -->
  <tr>
    <td>ModifiedBy</td>
    <td>{{value.modifiedBy}}</td>

  </tr>
  <tr>
    <td>ModifiedTimestamp</td>
    <td>{{value.modifiedTimestamp}}</td>

  </tr>
  <tr>
    <td>Status</td>
    <td>{{value.status}}</td>

  </tr>
  <tr *ngIf="value.comments && value.comments.length>0">
    <td>Comments</td>
    <td>
      <ion-row *ngFor="let comment of value.comments">
          <ion-row><strong>Author: </strong> {{comment.commentingUser}}</ion-row>
          <ion-row><strong>Comment: </strong> {{comment.comment}}</ion-row>
          <ion-row>&nbsp;</ion-row>
      </ion-row>
   
    </td>

  </tr>
</table>

    </ion-card-content>
  </ion-card>
  <ion-card>
 


  </ion-card>
</ion-content>