<ion-header>

    <!-- <ion-toolbar color="{{ type === 'Tier' ? 'secondary' : 'warning'}}"> -->
      <ion-toolbar color="tertiary">
  
    <ion-title>Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">










  
  <ion-card>
    <ion-card-header color="medium">
      <ion-card-title>{{value.Name}}</ion-card-title>
      <ion-card-subtitle>Type: {{value.Type}}</ion-card-subtitle>
    </ion-card-header>
  <ion-row>&nbsp;</ion-row>
    <ion-card-content>
      <strong>Description:</strong>
      {{value.Description}}

      <ion-row>&nbsp;</ion-row>
<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>

  </tr>
  <tr>
    <td>Internal Id:</td>
    <td>{{value.InternalId}}</td>

  </tr>
  <tr>
    <td>CreatedBy</td>
    <td>{{value.CreatedBy}}</td>

  </tr>
  <tr>
    <td>CreatedTimestamp</td>
    <td>{{value.CreatedTimestamp}}</td>

  </tr>
  <tr>
    <td>ModifiedBy</td>
    <td>{{value.ModifiedBy}}</td>

  </tr>
  <tr>
    <td>ModifiedTimestamp</td>
    <td>{{value.ModifiedTimestamp}}</td>

  </tr>
  <tr *ngIf="value.Comments && value.Comments.length>0">
    <td>Comments</td>
    <td>
      <ion-row *ngFor="let comment of value.Comments">
          <ion-row><strong>Author: </strong> {{comment.CommentingUser}}</ion-row>
          <ion-row><strong>Comment: </strong> {{comment.Comment}}</ion-row>
          <ion-row>&nbsp;</ion-row>
      </ion-row>
   
    </td>

  </tr>
</table>

    </ion-card-content>
  </ion-card>
  <ion-card>
 


  </ion-card>
</ion-content>