<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="text-align: center" >Value Stream Map</ion-title>

  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row *ngFor="let item of data">
        <ion-col size="1"> 
          <ion-row>&nbsp;</ion-row>
          <ion-row>&nbsp;</ion-row>
          <ion-row>&nbsp;</ion-row>
          <!-- <ion-row>&nbsp;</ion-row>
          <ion-row>&nbsp;</ion-row> -->

          <ion-row>

              <fa-icon style="color:purple" [icon]="['fas', 'user']" size="2x"></fa-icon> 
            </ion-row>
            <!-- <ion-row>&nbsp;</ion-row> -->
            <ion-row>
              <ul>
                <li *ngFor="let element of getTriggeringStakeholders(item,'STAKEHOLDER_TRIGGERS_VALUE_STREAM')" style="font-size: xx-small;">{{ element }} </li>
              </ul>
                


             
          </ion-row>
     
          <!-- <ion-row>&nbsp;</ion-row> -->
        </ion-col>

        <ion-col size="10">

          <ion-card style="text-align: center;" color="light">
             <ion-card-header> <ion-title>{{item.name}} </ion-title> </ion-card-header>
              <ion-card-content >
                <ion-row>
                  <ion-col size="1">
                    <fa-icon style="color:grey" [icon]="['fas', 'chevron-right']" size="2x"></fa-icon> 
                    <fa-icon style="color:grey" [icon]="['fas', 'chevron-right']" size="2x"></fa-icon> 
                    <fa-icon style="color:grey" [icon]="['fas', 'chevron-right']" size="2x"></fa-icon> 
                   </ion-col>
             <ion-col size="10">
              <ion-row >
                <ion-card *ngFor="let child of item.children" color="warning">
                  <ion-card-content >
                   <span style="font-size: x-small;"> {{child.name}} </span>
                  
                  </ion-card-content>
                  
                </ion-card>
               
              </ion-row>
             </ion-col>
             <ion-col size="1">
              <fa-icon style="color:grey" [icon]="['fas', 'chevron-right']" size="2x"></fa-icon> 
              <fa-icon style="color:grey" [icon]="['fas', 'chevron-right']" size="2x"></fa-icon> 
              <fa-icon style="color:grey" [icon]="['fas', 'chevron-right']" size="2x"></fa-icon> 
             </ion-col>
            </ion-row>
          
            </ion-card-content>
          </ion-card>


        </ion-col>
       
        <ion-col  size="1" style="text-align: center;"> 
          <ion-row>&nbsp;</ion-row>
          <ion-row>&nbsp;</ion-row>
          <ion-row>
              <fa-icon  style="color:#DE3163" [icon]="['fas', 'scale-balanced']" size="2x"></fa-icon> 
            </ion-row>
            <ion-row>&nbsp;</ion-row>
            <ion-row>


              <span *ngFor="let element of getTriggeringStakeholders(item,'VALUE_STREAM_DELIVERS_PROPOSITION')" style="font-size: xx-small;">{{ element }} </span>

            </ion-row>

         
          
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
