<ion-header [translucent]="true">

  <ion-toolbar color="{{ type === 'Tier' ? 'secondary' : 'warning'}}">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:purple;"  style="text-align: center">{{ type === 'Tier' ? 'L1' : 'L2'}} - {{ name }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- <ion-card color="medium">
    <ion-card-header>

      <ion-card-title  style="text-align: center">{{parentName}} <span *ngIf="parentName"> ==>  </span> {{item.Name}}</ion-card-title>
      <ion-card-subtitle  style="text-align: center">Type: {{item.Type}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>&nbsp;</p>
      <ion-row  style="text-align: center">
        <ion-col size="6">
          <ion-label> Internal Id: </ion-label>{{item.InternalId}}
        </ion-col>
        <ion-col size="6"><ion-badge color="warning">{{item.ProtectfromDelete ? 'Protected' :
            'Deletable'}}</ion-badge></ion-col>
      </ion-row>
      <ion-row  style="text-align: center">
        <ion-col size="6">Created By: {{item.CreatedBy}} <br /></ion-col>
        <ion-col size="6">Modified By: {{item.ModifiedBy}}</ion-col>
      </ion-row>



    </ion-card-content>
  </ion-card> -->

  <ion-grid>
    <ion-row>
      <ion-card *ngFor="let child of children " tooltip="I'm a tooltip below a button">
        <!-- <ion-card-header color="{{ type === 'Tier' ? 'warning' : 'secondary'}}"> -->
          <ion-card-header color="medium">
            <!-- <ion-card-title style="color:rgb(255, 255, 255)">{{child.Name}}</ion-card-title> -->
          <ion-card-title style="color:rgb(34, 5, 5)">{{child.name}}</ion-card-title>



          <div class="tooltip">
            &nbsp;
            <ion-card-subtitle style="color:rgb(81, 76, 76)"> {{ child.description | truncate:60 }}</ion-card-subtitle>
            <!-- <ion-card-subtitle style="color:rgb(255, 255, 255)"> {{ (child.Description.length>60)? (child.Description | slice:0:60)+'...':(child.Description) }}</ion-card-subtitle> -->

            <span class="tooltiptext">{{child.description}}</span>
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let subchild of child.children " (click)="showDetailsModal(subchild)">


              <!-- <ion-icon color="{{ type === 'Tier' ? 'warning' : 'secondary'}}" name="logo-ionic"></ion-icon> &nbsp; -->
              <ion-icon color="dark" name="logo-ionic"></ion-icon> &nbsp;
              <ion-label class="pointer">{{subchild.name}}</ion-label> &nbsp;&nbsp;

              <!-- <ion-badge color="success">{{subchild.Attributes[0].AttributeValue}}</ion-badge> -->

              <ion-badge *ngIf="subchild?.attributes?.[0]?.attributeValue"
                [color]="getColor(subchild.attributes[0].attributeValue)">
                <!-- {{ subchild.Attributes[0].AttributeValue }} -->
                {{(subchild.attributes[0].attributeValue.length>20)? (subchild.attributes[0].attributeValue | slice:0:20)+'...':(subchild.attributes[0].attributeValue)}}
              </ion-badge>

            </ion-item>


          </ion-list>
        </ion-card-content>
      </ion-card>

    </ion-row>
  </ion-grid>

</ion-content>